{% extends "base.html.twig" %}


{% block title %}Fiche de l'utilisateur {{ user.name }}.{{ user.firstName }}{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}
    <table>

     <tr>
        <th>Nom</th>
        <td>{{ user.name }}</td>
     </tr>
     <tr>
        <th>Firstname</th>
        <td>{{ user.firstName }}</td>
     </tr>

    </table>
{% endblock %}